[submodule "ezpublish-i18n"]
	path = ezpublish-i18n
	url = git://github.com/anapol/ezpublish-i18n.git
[submodule "extension/ezmultiupload"]
	path = extension/ezmultiupload
	url = git://github.com/anapol/ezmultiupload.git
[submodule "extension/ezstyleeditor"]
	path = extension/ezstyleeditor
	url = git://github.com/anapol/ezstyleeditor.git
[submodule "extension/ezwebin-repo"]
	path = extension/ezwebin-repo
	url = git://github.com/anapol/ezwebin.git
[submodule "extension/ezwt-repo"]
	path = extension/ezwt-repo
	url = git://github.com/anapol/ezwt.git
[submodule "ezpublish-legacy"]
	path = ezpublish-legacy
	url = git://github.com/petrmifek/ezpublish-legacy.git
[submodule "extension/ezdemo-repo"]
	path = extension/ezdemo-repo
	url = git@github.com:petrmifek/ezdemo.git
